.saudacao {
    color: rgb(76, 87, 155);
    font: 1.5rem Verdana, sans-serif;
    padding-bottom: 5rem;
    
}

.btn {
    /* border: none; */
    padding: 10px;
    cursor: pointer;
    transition: background .3s;
    border-radius: 5px;
    background-color: rgba(190, 199, 195, 0.5);
    color: rgb(76, 87, 155);
    font: 1.4rem Verdana, sans-serif;
    display: flex;
}

.fotoBanner {
    width: 100%;
    height: calc(100vh - 5rem);
    background-image: url('solar.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

