$corClara:rgb(255,250,250) !important;
$corSec:rgb(36,142,255) !important;
.meusCont{
    color: $corClara;
}
.grupoIcone{
    background: $corSec; 
    bottom: 0 ;
    width: 100%;
}
.uniIcone{
    transition: 0.5s;
    animation: ease-in-out;
    min-width: 4rem;
    max-width: 5rem;
    &:hover{
        transform: scale(1.2);
        z-index: 100;
    }
}
.linhaCard{
    align-items: stretch; 
}
.containerFooter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;    
}

.textoDesen{
    text-align: center;
    margin: 0;
    padding-bottom: 15px;
    font-size: 1.5rem !important;
    color: $corClara;
    @media (max-width: 992px){
        font-size: 1.2rem !important;
    }
    @media (max-width: 592px){
        font-size: 1rem !important;
    }
}
