$corClara:rgb(255,250,250) !important;
$corSec:rgb(36,142,255) !important;
$corTer:rgb(169,169,169) !important;
$corQua:rgb(128, 128, 0) !important;
$corTrans: rgba(0,0,0,0) !important;


.navLogo {
    font-size: 3rem !important;
    margin-left: 24px !important;
    font-weight: bold;
    text-decoration: none;
    @media (max-width: 992px){
        font-size: 2rem !important;
    }
    @media (max-width: 592px){
        font-size: 1.8rem !important;
    }
    @media (max-width: 320px){
        font-size: 1.5rem !important;
    }
}
.navbar-nav{
    font-size: 2rem !important;
    font-weight: bold;
    @media (max-width: 992px){
        font-size: 1rem !important;
    }
    @media (max-width: 592px){
        font-size: 1rem;
    }
    @media (max-width: 320px){
        font-size: 1rem;
    }
}
.navcor{
    color: $corSec;
    &:hover{
        color: $corQua; 
    }
}
.bg-light{
    background-color: $corSec;
}
.navbarCor {
    background-color: $corClara;
    @media (min-width: 992px){
        background-color: transparent !important;    
    }
}
.navcor2{
    color:  $corSec;
    &:hover{
        color:  $corQua;
    }    
}
.navbar-toggler {
    background-color: $corSec;
}